<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hike Track Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    {% load static %}
    <style>
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: green;">
                <a class="navbar-brand" href="/home">Hike Track</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/mytrip">MyTrips</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/trip">AllTrips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donation">Donations</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                      <a href="/logout">LOGOUT</a>
                  </form>
                </div>
              </nav>
        <div>
            <br>
            <div id="trail_info">
            </div>
            <form action="/process" method='post' id="process" clsss='form-control'>
                {% csrf_token %}
                <input type="hidden" id="trail_id" name="trail_id" value={{trail}}>
                <div class='form-check' id="dateholder">
                    <input type='hidden' name="overnight" value='0'>
                    <div class="row">
                        <div class="col">
                            <label class="form-check-label" for="date">Trip Date</label>
                            <input style="width:50%" class="form-control"type="date" name="start" id="start">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="overnight" id="overnight">
                            <label class="form-check-label" for="overnight">Overnight</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    Description: <input class="form-control" type="text" name="description" id="description">
                </div>
                <br>
                <input class="btn btn-primary" type="submit" value="Create Trip">
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages  %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'main_app/main.js' %}"></script>
</body>
</html>