<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <style>
        #dono{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: green;">
            <a class="navbar-brand" href="/home">ADMIN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mytrip">MyTrips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trip">AllTrips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donation">Donations</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="/logout">LOGOUT</a>
                </form>
            </div>
        </nav>
        <div id="dono">
            <form action="/donation/process" method="POST" class="form-control">
                {% csrf_token %}
                <input type="text" name="zip" id="zip">
                <select name="amount" id="amount">
                    <option value="5">$5</option>
                    <option value="10">$10</option>
                    <option value="15">$15</option>
                    <option value="20">$20</option>
                </select>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_cezwTKmYTPxvDd1Axm3dm1L9"
                data-name="Donations"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true">
                </script>
            </form>
        </div>
    </div>
</body>
</html>