<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAuth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <form method="post" action="https://accounts.google.com/o/oauth2/v2/auth?client_id=720271760386-o2n26ichincic9fvt8jdic4f0b1r1he0.apps.googleusercontent.com&redirect_uri=https://localhost:8000/oauth/return&scope=profile&response_type=code&response_mode=form_post&nonce=fs6let2dre">
        {% csrf_token %}
        <input type="submit" value="Get Authorization Code">
    </form>

    <form method="post" action="https://www.googleapis.com/oauth2/v4/token&grant_type=authorization_code&code=4/pgB1lae3mTcXyas-ooaDqLb_WutXQ7JMFq2oTX8M272FLRvugml9flPBBi8_xsiYdaUtklXq44XDRgSms79-dKk&client_id=720271760386-o2n26ichincic9fvt8jdic4f0b1r1he0.apps.googleusercontent.com&client_secret=VsL-ofMOE3tdWS0F3Ko7UumB&redirect_uri=https%3A%2F%2Foauthdebugger.com%2Fdebug" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Get Access Token">
    </form>
</body>
</html>